<?xml version="1.0"?>
<robot name="test1">
    <link name="link_name">
        <!-- 惯性 -->
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="2.0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.5 0.1 0.2"/>
            </geometry>
    
        </visual>
        <!-- 碰撞 -->
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.5 0.1 0.2"/>
            </geometry>
        </collision>    
    </link>
    <!-- gazebo 颜色设置 -->
<gazebo reference="base_link">
     <material>Gazebo/Red</material>
     <turnGravityOff>false</turnGravityOff>
</gazebo>
    
</robot>